doctype html
html(lang="ko")
    head
        title 감자도스 수집기
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width,initial-scale=1')
    body
        block content
        
